<div class="description">
  Givespend is a payment portal that allows creators, vendors, or anyone with a cause they support to sell something to benefit others. 
</div><br>
<div class="question">
  What is givespend?
</div><br>
<div class="description">
  Here's the basic idea: you list something of which you have a fixed quantity (books, EPs, t-shirts). You specify a nonprofit you wish to receive part of the revenue from what you sell, and the percentage of revenue that goes to that nonprofit. Advertise on Facebook, Twitter, or any medium, and help raise money for the cause you support.
</div><br>
<div class="question">
  Is givespend free?
</div><br>
<div class="description">
  Yes. And givespend will always be free, for the individual. Eventually givespend will add a plan for businesses. The only fee you pay is that which we pay to our payment processor, Stripe.
</div><br>
<div class="question">
  Who pays the fee?
</div><br>
<div class="description">
  The seller pays the fee. This is a 2.9% + $0.30 transaction fee for credit card processing.
</div><br>

<br><br><br>