<div class="column1">
  <div class="byline">
    Sell something, help a good cause.
  </div>
  <div class="description">
    givespend is an online platform that allows individuals and businesses to sell items, and split the revenue with a good cause. we believe that with community support, everyone can become a driver for change.
  </div>
  <div class="infoline">
  </div>
  <%= link_to new_user_registration_path, class: "call-to-action" do %>
    GET STARTED NOW
  <% end %>
</div>
<div class="column2">
  <div class="canvas-container">
    <canvas id="theCanvas"></canvas>
  </div>
</div>
<div class="clear"></div>