<div class="column1">
  <div class="byline">
    Sell something, help a good cause.
  </div>
  <div class="description">
    givespend is an online platform that allows individuals and businesses to sell items, and split the revenue with a good cause. we believe that with community support, everyone can become a driver for change.
  </div>
  <div class="infoline">
  </div>
  <a class="call-to-action">
    GET STARTED NOW
  </a>
</div>
<div class="column2">
  what's up
</div>
<div class="clear"></div>