* {
  margin: 0;
  padding: 0;
}

.byline {
  background-color: #0FECAE;
  padding: 20px 0px;
  width: 300px;
  margin: 45px;
  text-align: center;
}

.column1 {
  width: 40%;
  float: left;
}

.column2 {
  width: 60%;
  margin-left: 40%;
}

.clear {
  clear: both;
}

.description {
  margin-left: 70px;
  width: 254px;
  line-height: 1.8em;
  font-size: 14px;
  font-weight: normal;
}

.call-to-action, .nav-bar-link {
  font-size: 18px;
  color: #0FECAE;
  text-decoration: none;
  font-weight: bold;
  margin-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  cursor: pointer;
  width: 300px;
}
.nav-bar-link {
  display: inline-block;
  width: auto;
  padding: 0;
  margin-left: 70px;
  margin-top: 80px;
}