.progress-dot {
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0px 6%;
  background-color: #eee;
  color: black;
  padding: 20px;
  border-radius: 70px;
  float: left;
}
.progress-dot.complete {
  color: #fff;
  background-color: #000;
}
.progress-bar {
  margin-left: 45px;
  margin-bottom: 5px;
  height: 60px;
}