.item-show-container {
  margin: 0 auto;
  text-align: center;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  img {
    max-width: 400px;
    max-height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.item-description {
  margin-bottom: 20px;
}
.message-to-user {
  background-color: #0FECAE;
  padding: 20px 20px;
  margin: 45px;
}
.centered {
  text-align: center;
  margin: 0 auto;
}